@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Roboto', sans-serif;
  font-color: #1b1717;
  font-size: 1.3rem;
}

.ff-heading {
  font-family: 'Staatliches', cursive;
}

.ff-paragraph {
  font-family: 'Roboto', sans-serif;
}
